{% extends 'index.html' %}
{% block body %}
<div class="form-add">
    <div class="head">
        <H1>EDITAR CLIENTE</h1>
    </div>
    <form action="/update_cliente/{{cliente.0}}" class="form-body" method="POST">
        <div class="inputs-form">
            <input type="text" name="id" placeholder="Id" value="{{cliente.0}}">
            <input type="text" name="nombres" placeholder="Nombres" value="{{cliente.1}}">
            <input type="text" name="apellidos" placeholder="Apellidos" value="{{cliente.2}}">
            <input type="text" name="celular" placeholder="Celular" value="{{cliente.3}}">
            <input type="text" name="email" placeholder="Email" value="{{cliente.4}}">
            <input type="text" name="direccion" placeholder="Dirección" value="{{cliente.5}}">
        </div>
        <div class="btn-form">
            <button type="submit" class="submit-btn">
                <span>Edit</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}